# Ignore virtual environments
_venv/
venv/
.env/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
setup.py

# Logs and databases
*.log
*.sqlite3

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
